<html>
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>User Registration</title>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel="stylesheet" href="/styles.css" type="text/css">     
    </head>
    <body>
    <header>
        <div class="navbar-fixed ">
          <nav class="brown lighten-4" role="navigation">
              <div class="nav-wrapper container">
                <a href="!#" data-activates="nav-mobile" class="button-collapse left no-margin"><i class="material-icons">menu</i></a>
                <a class="brand-logo">HomeDecorBlog</a>
                <ul class="right hide-on-med-and-down">
                    {{! <li><a class="waves-effect waves-light modal-trigger" href="#addPostModal">Add Post</a></li> }}
                    <li><a  href="/post">All Posts</a></li>
                    <li><a  href="/myposts">My Posts</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                    
                </ul>
              </div>
          </nav>
        </div>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a id="" href="/post">Post</a></li>
           
        </ul>
    </header>
    <br/><br/>
<h1>Home</h1>
</body>
</html>